@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Domine');
/* main container */

body {
  overflow: scroll;
}

.btn:focus, .navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.drinklist-container {
  background-image: url('./img/geschichte4.jpg');
  background-size: cover;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

/* carousel styles */

.carousel-indicators {
  position: fixed;
  left: 0;
  color: black;
  font-family: "untitled-font-2";
  font-size: 2em;
  box-sizing: border-box;
  height: auto;
}

.carousel-indicators li {
  text-indent: 0;
  padding: 5px 10px;
  margin: .2em .5em;
  width: auto;
  height: auto;
  border-radius: 50%;
  box-sizing: border-box;
}

.carousel-indicators li:hover, .carousel-indicators li.active {
  color: #3aaf1f;
  font-weight: bold;
  /* border-bottom: 3px solid #3aaf1f; */
  transition: color .7s ease;
  transition: transform .7s ease;
  transform: scale(1.3);
  font-size: 1em;
  border-radius: 10px;
}

.carousel-item {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .8);
}

ol.carousel-nav {
  background: rgba(0, 0, 0, .2)
}

/* nav styles */

li.nav-item {
  margin: .5em;
}

li.nav-item>a {
  padding: .5em 1em;
}

li.nav-item>a:hover, li.nav-item>a:active, li.nav-item>a:focus {
  color: #3aaf1f!important;
  outline: none;
  cursor: pointer;
  /* border: 2px solid #3aaf1f; */
  /* background: rgba(255, 255, 255, 1) */
  -moz-box-shadow: inset 0 0 15px #3aaf1f;
  -webkit-box-shadow: inset 0 0 15px #3aaf1f;
  box-shadow: inset 0 0 15px #3aaf1f;
  transition: color .8s ease, box-shadow .6s ease;
}

/* images */

.logo {
  position: absolute;
  right: 1em;
  top: 3.5em;
  width: 120px;
  height: 120px;
}

.coffee-menu-img {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  opacity: .9;
}

/* modal Images */

.modal-img {
  max-height: 80vh;
}

.modal-img:hover {
  transform: scale(1.1);
  transition: transform .7s ease;
}

/* table styles */

.drinks-table {
  width: 85%;
  margin-top: 3.5em;
  margin-left: 20px;
  margin-bottom: 2em;
}

td:nth-child(1) {
  width: 50%;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), .light-text {
  font-weight: 300;
}

.italic-text {
  font-style: italic;
}

.table-head {
  font-weight: bold;
  padding-left: .5em;
}

/* media queries */

@media(max-width: 450px) {
  .carousel-indicators li {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .carousel-indicators li:hover, .carousel-indicators li.active {
    color: #3aaf1f;
    transition-duration: .5s;
    transform: scale(1.1);
    font-size: 1em;
  }
}

/* @media(max-width: 650px) {
  .carousel-indicators {
    font-size: 11px;
    font-weight: semibold;
  }
} */